In [1]:
import numpy as np
import pandas as pd
import datetime

## Create loss tensor

In [2]:
movie_pd = pd.read_csv(
    'movies.csv'
)
rating_pd = pd.read_csv(
    'ratings.csv'
)
rating_pd = pd.merge(
    rating_pd, movie_pd, on="movieId", how="left", sort=False
)
rating_pd['genres'] = rating_pd['genres'].apply(
    lambda row: row.split('|')
)
rating_pd

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,1,3,4.0,964981247,Grumpier Old Men (1995),"[Comedy, Romance]"
2,1,6,4.0,964982224,Heat (1995),"[Action, Crime, Thriller]"
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),"[Mystery, Thriller]"
4,1,50,5.0,964982931,"Usual Suspects, The (1995)","[Crime, Mystery, Thriller]"
...,...,...,...,...,...,...
100831,610,166534,4.0,1493848402,Split (2017),"[Drama, Horror, Thriller]"
100832,610,168248,5.0,1493850091,John Wick: Chapter Two (2017),"[Action, Crime, Thriller]"
100833,610,168250,5.0,1494273047,Get Out (2017),[Horror]
100834,610,168252,5.0,1493846352,Logan (2017),"[Action, Sci-Fi]"
100835,610,170875,3.0,1493846415,The Fate of the Furious (2017),"[Action, Crime, Drama, Thriller]"

In [3]:
# rating_pd['date'] = rating_pd['timestamp'].apply(
#     lambda row: str(
#         datetime.datetime.fromtimestamp(row).date()
#     )
# )
# rating_pd

In [4]:
all_pd = rating_pd.explode('genres', ignore_index=True)
all_pd = all_pd.sort_values(['timestamp', 'userId', 'genres'])
all_pd.reset_index(drop=True, inplace=True)
all_pd

,userId,movieId,rating,timestamp,title,genres
0,429,165,4.0,828124615,Die Hard: With a Vengeance (1995),Action
1,429,227,3.0,828124615,Drop Zone (1994),Action
2,429,349,3.0,828124615,Clear and Present Danger (1994),Action
3,429,420,2.0,828124615,Beverly Hills Cop III (1994),Action
4,429,434,4.0,828124615,Cliffhanger (1993),Action
...,...,...,...,...,...,...
274475,514,5247,2.5,1537757040,Smokey and the Bandit (1977),Action
274476,514,5247,2.5,1537757040,Smokey and the Bandit (1977),Comedy
274477,514,5246,1.5,1537757059,Smokey and the Bandit II (1980),Action
274478,514,5246,1.5,1537757059,Smokey and the Bandit II (1980),Comedy
274479,514,162,4.0,1537799250,Crumb (1994),Documentary

In [5]:
rating_df = all_pd[['userId', 'genres', 'rating']]
rating_df

        userId       genres  rating
0          429       Action     4.0
1          429       Action     3.0
2          429       Action     3.0
3          429       Action     2.0
4          429       Action     4.0
...        ...          ...     ...
274475     514       Action     2.5
274476     514       Comedy     2.5
274477     514       Action     1.5
274478     514       Comedy     1.5
274479     514  Documentary     4.0

[274480 rows x 3 columns]

In [13]:
rating_gb = rating_df.groupby(['userId', 'genres'])['rating'].apply(list).reset_index()  
rating_gb

       userId     genres                                             rating
0           1     Action  [5.0, 4.0, 4.0, 5.0, 4.0, 4.0, 5.0, 3.0, 5.0, ...
1           1  Adventure  [5.0, 4.0, 4.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, ...
2           1  Animation  [5.0, 5.0, 3.0, 4.0, 5.0, 4.0, 5.0, 4.0, 5.0, ...
3           1   Children  [5.0, 5.0, 5.0, 5.0, 3.0, 5.0, 4.0, 3.0, 3.0, ...
4           1     Comedy  [4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, ...
...       ...        ...                                                ...
10022     610    Romance  [5.0, 2.5, 4.0, 2.5, 4.5, 3.5, 4.0, 5.0, 4.0, ...
10023     610     Sci-Fi  [1.5, 5.0, 4.0, 4.0, 5.0, 4.0, 5.0, 5.0, 5.0, ...
10024     610   Thriller  [5.0, 3.5, 1.5, 3.0, 3.5, 5.0, 5.0, 4.0, 4.5, ...
10025     610        War  [3.0, 3.5, 3.5, 5.0, 3.5, 4.5, 5.0, 4.5, 4.5, ...
10026     610    Western  [3.5, 3.0, 5.0, 3.0, 4.0, 4.0, 3.5, 5.0, 4.5, ...

[10027 rows x 3 columns]